  <!-- footer -->
  <section class="footer-w3layouts-bottem py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">

      <div class="row mt-lg-4 mt-3">
        <div class="col-lg-7 col-md-7 footer-titles my-3">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur
            adipiscing elit.Vestibulum nibh urna Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh
            urna Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum nibh urna
          </p>
        </div>
        <div class="col-lg-5 col-md-5 text-center footer-titles my-3">
          <div class="footer-head ">
            <h2>
              <%= link_to image_tag('logo.svg'), root_path %>
            </h2>
          </div>
          <div class="social-icons mt-md-4 mt-3">
            <ul>
              <li class="facebook">
                <a href="#">
                  <span class="fa fa-facebook"></span>
                </a>
              </li>
              <li class="twitter">
                <a href="#">
                  <span class="fa fa-twitter"></span>
                </a>
              </li>
              <li class="rss">
                <a href="#">
                  <span class="fa fa-rss"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- move icon -->
      <div class="text-center mt-lg-5 mt-md-4 mt-3">
        <a href="#home" class="move-top text-center mt-3">
          <span class="fa fa-arrow-circle-up" aria-hidden="true"></span>
        </a>
      </div>
      <!--//move icon -->
    </div>
  </section>
  <!-- footer -->
  <!-- copyright -->
  <footer class="text-center py-md-4 py-3">
    <p>
      © 2021 Studious - Paul Anthony McGowan | From Grab by
      <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
    </p>
  </footer>
  <!--//copyright -->
