<!-- main -->
<div class=" banner-two-img">
    <div class="logo">
      <h1>
        <%= link_to image_tag('logo.svg'), root_path %>
      </h1>
    </div>
    <!-- menu -->

    <nav>
      <ul id="menu">
        <li>
          <input id="check02" type="checkbox" name="menu" />
          <label for="check02">
            <span class="fa fa-bars" aria-hidden="true"></span>
          </label>
          <ul class="submenu">
            <li>
              <a href="index.html" class="active">Home</a>
            </li>
            <li>
              <a href="#about">About Me</a>
            </li>
            <li>
              <a href="#service">Services</a>
            </li>
            <li>
              <a href="#gallery">Gallery</a>
            </li>
            <li>
              <a href="#blog">Blog</a>
            </li>
            <li>
              <a href="#contact">Contact Me</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- //menu -->
  </div>