<!-- service -->
<section class="service" id="service">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 service-wthree-grided color-one">
        <h3 class="title clr">Service & work</h3>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 service-wthree-grided color-two">
        <h4 class="mb-lg-4 mb-3">Lorem ipsum dolor sit amet</h4>

        <p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet eiusmod tempor incididunt</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 service-wthree-grids color-three text-center">
        <%= image_tag("s1.png", :alt => "s1", :class => "img-fluid") %>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 service-wthree-grided color-four">
        <h4 class="mb-lg-4 mb-3">onsectetur adipiscing sed do </h4>

        <p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet eiusmod tempor incididunt</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 service-wthree-grids color-four text-center">
        <%= image_tag("s2.png", :alt => "s2", :class => "img-fluid") %>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 service-wthree-grided color-one">
        <h4 class="mb-lg-4 mb-3">Lorem ipsum dolor sit amet </h4>

        <p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet eiusmod tempor incididunt</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 service-wthree-grids color-two text-center">
        <%= image_tag("s3.png", :alt => "s3", :class => "img-fluid") %>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 service-wthree-grided color-three">
        <h4 class="mb-lg-4 mb-3">onsectetur adipiscing sed do </h4>

        <p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet eiusmod tempor incididunt</p>
      </div>

    </div>
  </div>
</section>
<!--//service -->